#noti{
    padding-left: 20px;
}
#noti h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

#noti h6 tt,#noti h6 code {
    font-size: inherit;
}

#noti h6 {
    color: #777;
    font-size: 14px;
}

#noti h6+p {
    margin-top: 10px;
}






